<!DOCTYPE html>
<html>

<head>
    <title>
        Form
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Form
    </h1>

    <form method="POST" action="/new">
        <div>
            <label for="author">User</label>
            <input type="text" id="author" name="author" required>
        </div>
        <div>
            <label for="message">Message</label>
            <input type="text" id="message" name="message" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>