body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(236, 236, 236);
}

a, a:link, a:visited, a:active {
  color: #00B7FF;
  background-color: white;
  padding: .5rem;
  text-decoration: none;
  border-radius: 0rem 1rem 1rem 0rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .85em;
}

ul {
  padding: 0;
  margin-top: 1rem;
}

li {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  list-style: none;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  padding: 1rem;
  width: fit-content;
  border-radius: 0rem 1rem 1rem 1rem;
}

.user {
  font-size: 1em;
  text-transform: capitalize;
}

.message {
  font-size: 1.25em;
  font-weight: 600;
}

.date {
  font-size: 1em;
}

.date:first-letter {
  text-transform: capitalize;
}